@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Playfair:wght@700&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html * {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.authentication {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.authentication-header {
  width: 100%;
  height: 20%;
  text-align: center;
  position: relative;
}

.authentication-header img {
  width: 100%;
  height: 350px;
}

.authentication-header .title {
  position: absolute;
  top: 35%;
  right: 46%;
  font-size: 58px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.authentication-header .book-appointment-title {
  position: absolute;
  top: 35%;
  right: 35%;
  font-size: 58px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.authentication-header .forgot-password-title {
  position: absolute;
  top: 35%;
  right: 38%;
  font-size: 58px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.authentication .aurhentication-body {
  align-self: center;
  background-color: rgb(233, 211, 255);
  padding: 40px;
  margin-bottom: 20px;
  width: 30%;
  margin-top: 40px;
}

.aurhentication-body .title {
  font-size: 32px;
  font-weight: 600;
}

.title .line {
  border-bottom: 4px solid blueviolet;
  width: 25%;
}

.home-page .submit-button {
  background-color: blueviolet;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
}

.home-page .submit-button:hover {
  background-color: rgb(156, 60, 245);
}

form .submit-button {
  background-color: blueviolet;
  width: 100%;
  padding: 10px;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  right: 3px;
  left: auto;
}

.nav-item .user-button {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: blueviolet;
  color: white !important;
}

.complate_vaccination_button {
  background-color: rgb(20, 116, 0);
  width: 100%;
  padding: 10px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
}

form .submit-button:hover {
  background-color: rgb(156, 60, 245);
}

.link {
  color: blueviolet;
  font-weight: 600;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: none !important;
}

.layout-header {
  background-color: rgb(255, 255, 255);
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
}

.logo {
  color: blueviolet;
  font-weight: 900;
  font-size: 48px;
  font-family: "Varela Round", sans-serif;
}

.logo2 {
  color: blueviolet;
  font-weight: 900;
  font-size: 36px;
  font-family: "Varela Round", sans-serif;
}

.logout {
  margin: 20px;
  font-weight: 600;
}

.sidebar {
  margin-top: 70px;
}

.children {
  margin-top: 70px;
  overflow: hidden;
  position: fixed;
  padding-top: 20px;
}

.sidebar {
  background-color: rgb(121, 76, 163) !important;
}

.sidebar-nav .nav-link {
  color: white !important;
  font-weight: 600;
}

.nav-item .nav-link {
  color: black;
}

.nav-item .nav-link:hover {
  color: blueviolet;
}

.slider-img {
  height: 500px;
}

.silder-title {
  font-size: 48px;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

.slider-button .submit-button {
  background-color: blueviolet;
  padding: 10px;
  font-weight: 600;
  border: none;
}

.slider-button .submit-button:hover {
  background-color: rgb(156, 60, 245);
}

.carousel .carousel-indicators {
  display: none;
}

.carousel-caption {
  bottom: 10rem !important;
}

.cards {
  z-index: 1;
  position: absolute;
  top: 506px;
  width: 100%;
}

.cards .left-card {
  background-color: rgb(161, 60, 255) !important;
  padding: 20px 100px;
}

.cards .right-card {
  background-color: rgb(211, 168, 252) !important;
  padding: 20px 100px;
}

.card-description {
  margin-left: 50px;
}

.card-description .card-title {
  font-size: 18px;
  color: white;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.card-description .card-count {
  font-size: 38px;
  color: white;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.about_us {
  margin-top: 150px;
  margin-left: 150px;
  margin-bottom: 150px;
}

.about_us .right_container {
  width: 40%;
}

.right_container img {
  width: 80%;
  height: 100%;
}

.about_us .left_container {
  width: 60%;
}

.left_container .title {
  color: blueviolet;
  font-size: 26px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.left_container .sub_title {
  font-size: 38px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.left_container .line {
  border: 3px solid green;
  width: 20%;
  border-radius: 5px;
}

.left_container div ul li {
  font-size: 16px;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
  margin-top: 5px;
}

.appointment_button {
  background-color: blueviolet;
  padding: 10px;
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 5px;
}

.services .title {
  font-size: 38px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.title .line {
  border: 3px solid green;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}

.services_table {
  display: flex;
  justify-content: center;
}

.services_table table {
  width: 50%;
  border: 1px solid gray;
}

.services_table table th {
  background-color: rgb(161, 161, 161);
  color: white;
}

.faq {
  margin-top: 100px;
  margin-bottom: 100px;
}

.faq .faq-content {
  margin-top: 50px;
  margin-left: 150px;
}

.faq .title {
  color: blueviolet;
  font-size: 26px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.faq .sub_title {
  font-size: 38px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.faq .line {
  border: 3px solid green;
  width: 20%;
  border-radius: 5px;
}

.faq-list .accordion {
  width: 90%;
}

.faq-img img {
  width: 100%;
  height: 450px;
}

.contact {
  margin-bottom: 100px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header .title {
  color: blueviolet;
  font-size: 26px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.contact-header .sub_title {
  font-size: 38px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.contact-header .line {
  border: 3px solid green;
  width: 10%;
  border-radius: 5px;
}

.contact .contact-body {
  margin-top: 50px;
  display: flex;
  margin-left: 150px;
}

.contact-us-icons {
  color: white;
  background-color: blueviolet;
  padding: 10px;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 150px;
  padding-top: 100px;
}

.left-container div {
  margin-bottom: 20px;
}

.right-container {
  border: 1px solid black;
  width: 40%;
}

.right-container form {
  background-color: blueviolet;
  padding: 80px;
}

.right-container button {
  background-color: rgb(114, 114, 114);
  color: aliceblue;
}

.page-title {
  font-size: 38px;
  text-align: center;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.chart-title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
  padding: 20px 0px;
}

.p-paginator .p-component {
  border: none;
}

.p-datatable-thead tr th {
  background-color: rgb(199, 199, 199);
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left-side {
  background-color: rgb(220, 183, 255);
  display: flex;
  flex-direction: column;
}

.profile-box {
  position: absolute;
  border: 1px solid gray;
  top: 600px;
  width: 60%;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 1;
}

.profile .profile-upper-side {
  background-color: rgb(222, 186, 255);
  width: 100%;
  height: 50%;
}

.profile .profile-lower-side {
  background-color: rgb(167, 72, 255);
  width: 100%;
  height: 50%;
}

.left-side .avatar {
  background-color: blueviolet;
  width: 12rem;
  height: 12rem;
  margin: 20px;
  align-self: center;
}

.avatar img {
  width: 12rem;
  height: 12rem;
  padding-top: 10px;
}

.left-side label {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.profile-box .right-side {
  padding: 30px;
  z-index: 1;
  background-color: aliceblue;
}

.profile-detail .icons {
  background-color: rgb(161, 61, 255);
  color: white;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}

.right-side .top-side {
  margin-bottom: 60px;
}

.right-side .heading {
  font-size: 30px;
  border-bottom: 1px solid gray;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 20px;
}

.profile-detail .title {
  font-size: 28px;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.profile-detail .sub_title {
  font-size: 24px;
  font-weight: 500;
  font-family: "Varela Round", sans-serif;
  color: blueviolet;
  margin-left: 50px;
}

.profile .profile-header-img {
  height: 600px;
}

.profile .overlay {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.profile .profile_title {
  position: absolute;
  top: 35%;
  right: 46%;
  font-size: 58px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 1;
}